<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>learn Resources</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div style="text-align: center;margin:0 auto;width: 1000px; ">
    <h1>Spring Boot学习资源</h1>
    <table width="100%" border="1" cellspacing="1" cellpadding="0">
        <tr>
            <td>名称</td>
            <td>地址</td>
        </tr>
        <!--/*@thymesVar id="learnList" type=""*/-->
        <tr>
            <td> 官方参考文档 </td>
            <td><a href="http://docs.spring.io/spring-boot/docs/1.5.1.RELEASE/reference/htmlsingle/#getting-started-first-application" target="_blank">点我</a></td>
        </tr>
        <tr>
            <td> 官方SpriongBoot例子 </td>
            <td><a href="https://github.com/spring-projects/spring-boot/tree/master/spring-boot-samples" target="_blank">点我</a></td>
        </tr>
        <tr>
            <td> Spring Boot教程系列学习 </td>
            <td><a href="http://www.roncoo.com/article/detail/125488" target="_blank">点我</a></td>
        </tr>
        <tr>
            <td> Spring Boot教程和视频 </td>
            <td><a href="http://www.toutiao.com/m1559096720023553/" target="_blank">点我</a></td>
        </tr>
        <tr>
            <td> Spring Boot系列文章 </td>
            <td><a href="http://www.ityouknow.com/spring-boot" target="_blank">点我</a></td>
        </tr>
        <tr>
            <td> Spring Boot学习 </td>
            <td><a href="http://blog.csdn.net/column/details/spring-boot.html" target="_blank">点我</a></td>
        </tr>
        <tr>
            <td> Spring Boot 揭秘与实战 </td>
            <td><a href="http://blog.csdn.net/column/details/spring-boot.html" target="_blank">点我</a></td>
        </tr>
        <tr>
            <td> 从零开始学Spring Boot </td>
            <td><a href="http://412887952-qq-com.iteye.com/category/356333" target="_blank">点我</a></td>
        </tr>
    </table>
</div>
</body>
</html>